<% layout("layouts/boilerplate") %>

<div class="row mt-3">

    <div class="col-8 offset-3">
        <h2>
            <b><%= listing.title %></b>
        </h2>
    </div>

    <div class="card col-6 offset-3 show-card listing-card">

        <img
            src="<%= listing.image %>"
            class="card-img-top show-img"
            alt="listing_image"
        >

        <div class="card-body">

            <p class="card-text">
                <i>Owned by :</i>
                <%= listing.owner.username %>
            </p>

            <p class="card-text">
                <%= listing.description %>
            </p>

            <p class="card-text">
                &#8377;
                <%= listing.price.toLocaleString("en-IN") %>
            </p>

            <p class="card-text">
                <%= listing.location %>
            </p>

            <p class="card-text">
                <%= listing.country %>
            </p>

        </div>
    </div>

    <br>

    <!-- EDIT & DELETE BUTTONS -->
    <% if(currUser && listing.owner && listing.owner._id.equals(currUser._id)){ %>

        <div class="btns">

            <a
                href="/listings/<%= listing._id %>/edit"
                class="btn btn-dark col-1 offset-3 add-btn"
            >
                Edit
            </a>

            <form
                method="POST"
                action="/listings/<%= listing._id %>?_method=DELETE"
            >
                <button
                    type="submit"
                    class="btn btn-dark offset-5"
                >
                    Delete
                </button>
            </form>

        </div>

    <% } %>

    <br><br>

    <!-- REVIEW FORM -->
    <% if(currUser){ %>

        <div class="col-8 offset-3 mb-3">

            <hr>

            <h4>Leave a Review</h4>

            <form
                action="/listings/<%= listing._id %>/reviews"
                method="POST"
                novalidate
                class="needs-validation"
            >

                <div class="mb-3 mt-3">

                    <label for="rating" class="form-label">
                        Rating
                    </label>

                    <input
                        type="range"
                        min="1"
                        max="5"
                        id="rating"
                        name="review[rating]"
                        class="form-range"
                    >

                </div>
                <fieldset class="starability-slot">
  <fieldset class="starability-slot">
  <legend>First rating:</legend>
  <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
  <input type="radio" id="second-rate1" name="rating" value="1" />
  <label for="second-rate1" title="Terrible">1 star</label>
  <input type="radio" id="second-rate2" name="rating" value="2" />
  <label for="second-rate2" title="Not good">2 stars</label>
  <input type="radio" id="second-rate3" name="rating" value="3" />
  <label for="second-rate3" title="Average">3 stars</label>
  <input type="radio" id="second-rate4" name="rating" value="4" />
  <label for="second-rate4" title="Very good">4 stars</label>
  <input type="radio" id="second-rate5" name="rating" value="5" />
  <label for="second-rate5" title="Amazing">5 stars</label>
</fieldset>

                <div class="mb-3 mt-3">

                    <label for="comment" class="form-label">
                        Comment
                    </label>

                    <textarea
                        id="comment"
                        name="review[comment]"
                        cols="30"
                        rows="5"
                        class="form-control"
                        required
                    ></textarea>

                    <div class="invalid-feedback">
                        Please enter some comment for review
                    </div>

                </div>

                <button class="btn btn-outline-dark">
                    Submit
                </button>

            </form>

            <hr>

    <% } %>

            <!-- ALL REVIEWS -->
            <p>
                <b>All Reviews</b>
            </p>

            <div class="row">

                <% for(let review of listing.reviews){ %>

                    <div class="card col-5 ms-3 mb-3">

                        <div class="card-body">

                            <h5 class="card-title">
                                @<%= review.author?.username || "Anonymous" %>
                            </h5>

                            <p class="card-text">
                                <%= review.comment %>
                            </p>

                            <p class="card-text">
                                <%= review.rating %> star
                            </p>
                      <p class="starability-result" data-rating="3">
                         Rated: 3 stars
                      </p>

                        </div>

                        <!-- DELETE REVIEW BUTTON -->
                        <% if(currUser && review.author && review.author._id.equals(currUser._id)){ %>

                            <form
                                class="mb-3"
                                method="POST"
                                action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
                            >

                                <button class="btn btn-sm btn-dark">
                                    Delete
                                </button>

                            </form>

                        <% } %>

                    </div>

                <% } %>

            </div>

        </div>

</div>